<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org"
		th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
<meta charset="ISO-8859-1">
<title>Pet Clinic Application</title>
</head>
<body>
		<h1>Vets</h1>

		<table id="vets" class="table table-striped">
				<thead>
						<tr>
								<th style="width: 120px">Id</th>
								<th style="width: 150px">First Name</th>
								<th style="width: 150px">Last Name</th>
						</tr>
				</thead>

				<tbody>
						<tr th:each="vet:${vets}">
								<td th:text="${vet.id}"></td>
								<td th:text="${vet.firstName}"></td>
								<td th:text="${vet.lastName}"></td>

						</tr>
				</tbody>


		</table>
</body>
</html>